// https://zellij.dev/documentation/creating-a-layout
layout {
  pane split_direction="vertical" {
    pane {
      command "npm"
      args "run" "watch"
    }
    pane {
      command "npm"
      args "install"
    }
  }
  pane split_direction="vertical" {
    pane {
      command "docker"
      args "compose" "up"
      cwd "./docker"
    }
    pane {
      cwd "./docker"
    }
  }
  pane size=1 borderless=true {
    plugin location="zellij:status-bar"
  }
}
